.outer-box {
  box-shadow: -3px 3px 5px;
  z-index: 150;
  position: fixed;
  top: 0px;

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 30px solid white;
    opacity: 1;
    background-color: white;
  }

  .cross {
    position: relative;
    left: 410px;
    top: 2px;
  }
}
